<%- include("header") -%>
<h2>This is the About page of my Website</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur nesciunt adipisci at quos pariatur maxime consequuntur aut, veniam voluptatem ex, neque officia harum quisquam asperiores distinctio? Atque dicta tempore quo.</p>
<%- include("footer") -%>   