<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!-- when we are on a express server we can't link stylesheets directly like this  -->
    <!-- because the path we are giving here is static and server cant load out static file location -->
    <!-- so all the static file should be place in one folder and while making the server we will tell the server that this folder will act as statc file paths -->
    <!-- check app.js for how to do that  -->
    <link rel="stylesheet" href="/CSS/styles.css">
 
    <title>To - Do - List</title>
</head>
